<!DOCTYPE html>
<html>
<head>
    <title>Kurs bearbeiten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <h1>Kurs bearbeiten</h1>
    <a href="/" class="button">Zurück</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="errors">
                {% for category, message in messages %}
                    <div class="error">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form action="/bearbeite_kurs" method="POST">
        <input type="hidden" name="id" value="{{ kurs.id }}"/>
        <label for="name">Name</label>
        <input type="text" name="name" required value="{{ kurs.name }}"/>
        
        <label for="ects">ECTS</label>
        <input type="number" name="ects" min="1" max="20" required value="{{ kurs.ects }}"/>
        
        <label for="schwere">Schwere</label>
        <input type="number" name="schwere" min="{{ KursSchwere.EINS.value }}" max="{{ KursSchwere.FUENF.value }}" required value="{{ kurs.schwere }}"/>
        
        <br>
        <label for="note1">Noten: </label>
        <input type="number" name="note1" min="1" max="6" step="0.01" value="{{ kurs.noten[0] }}"/>
         
        {% if kurs.zeige_note2 %}
            <input type="number" name="note2" min="1" max="6" step="0.01" value="{{ kurs.noten[1] }}"/>
        {% endif %}
        {% if kurs.zeige_note3 %}
            <input type="number" name="note3" min="1" max="6" step="0.01" value="{{ kurs.noten[2] }}"/>
        {% endif %}

        <br>
        <input type="submit" value="Speichern"/>
        
    </form>
</body>
</html>