<!DOCTYPE html>
<html>
<head>
    <title>Kurs erstellen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <h1>Kurs erstellen</h1>
    <a href="/" class="button">Zurück</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="errors">
                {% for category, message in messages %}
                    <div class="error">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form action="/erstelle_kurs" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" required value="{{ kurs.name }}"/>
        
        <label for="ects">ECTS</label>
        <input type="number" name="ects" min="1" max="20" required value="{{ kurs.ects }}"/>
        
        <label for="schwere">Schwere</label>
        <input type="number" name="schwere" min="{{ KursSchwere.SEHR_LEICHT.value }}" max="{{ KursSchwere.SEHR_SCHWER.value }}" required value="{{ kurs.schwere }}"/>
        
        <input type="submit" value="Speichern"/>
        
    </form>
</body>
</html>